%article
  = link_to article.url do
    %time= article.date.strftime('%Y年%-m月%-d日')
    %h2= article.title
    .article-information
      - if article.data.image
        .article-information__image= image_tag article.data.image, width: '80'
      .article-information__description= article.data.description.size >= 70 ? "#{article.data.description[0,70]}..." : article.data.description
