---
pageable: true
---

%section
  - page_articles.each do |article|
    = partial 'article', locals: {article: article}

.blog-paging
  .button.previous
    - if prev_page
      = link_to "前の記事", prev_page.url
  .button #{page_number}/#{num_pages}
  .button.next
    - if next_page
      = link_to "次の記事", next_page.url

//#{blog.articles.size}件
